.App {
  font-family: sans-serif;
  text-align: center;
}

.container {
  display: flex;
  width: 70vw;
  height: 100vh;
  margin: 0 auto;
}

.home-container,
.users-container {
  width: 50%;
}

li {
  text-align: left;
  margin-bottom: 10px;
}

.button-container {
  margin: 0 auto;
  width: 200px;
  display: flex;
  justify-content: space-between;
}
